.Hero{
    background-image: url("../Images/Home-BG-Dark.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.joinfashion{
    background-image: url("../Images/BG-Dark-2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 50px;
}